<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>{% block title %}PHP-SI{% endblock %}</title>
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
	<meta name="description" content="">

	<meta name="author" content="">

	<meta name="viewport" content="width=device-width">

	<link rel="stylesheet" href="{{ asset('css/unstyle.css?v2') }}">
        {% block stylesheets %}{% endblock %}
        <link href="{{ asset('css/prettify.css') }}" type="text/css" rel="stylesheet" />
	<script src="{{ asset('js/libs/modernizr-2.5.2.min.js') }}"></script>
    <script type="text/javascript" src="http://use.typekit.com/lav8tne.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

</head>
<body onload="prettyPrint(); //adjustHeightInParent()">
<!-- Glava -->
<div class="whitewrap">
<header class="clearfix">
    <div id="user-menu" class="user">
        <h1>RAZVIJALEC-SI</h1>
        <nav role="navigation">
            <ul>
                <li>Pozdravljen, <span class="status" title="Admin">&Omega;</span>Dodofren |</li>
                <li><a href="#">Administracija</a> |</li>
                <li><a href="#">Dodaj</a> |
                    <?php #Spustni meni // neviden na mobilnih napravah - link jih vodi na novo stran ?>
                    <div id="drop_dodaj" class="dropmenu">
                        <ul>
                            <li><a href="#">Novico</a></li>
                            <li><a href="#">Vodič</a></li>
                            <li><a href="#">Kolumno</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="#">Nabiralnik (14)</a> |
                    <?php #Spustni meni // neviden na mobilnih napravah - link jih vodi na novo stran ?>
                    <div id="drop_nabiralnik" class="dropmenu">
                        <ul>
                            <li><a href="#">Zasebna sporo&#269;ila (2)</a></li>
                            <li><a href="#">Forumi (5)</a></li>
                            <li><a href="#">Članki (7)</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="#">Novosti</a> |
                    <?php #Spustni meni // neviden na mobilnih napravah - link jih vodi na novo stran ?>
                    <div id="drop_novosti" class="dropmenu">
                        <div class="novosti">
                        <a href="#">Forum</a>
                        <span>25 novih tem</span><br />

                        <a href="#">Kolumne</a>
                        <span>1 nova kolumna</span><br />

                        <a href="#">Vodi&#269;i</a>
                        <span>1 nov vodi&#269;</span>
                        </div>
                    </div>
                </li>
                <li><a href="#">Nastavitve</a> |</li>
                <li><a href="#">Odjava</a></li>
            </ul>
        </nav>
    </div>
    <div id="main-navigation" class="nav-src">
        <nav>
            <a href="/Symfony/web/app.php/" class="current">NOVICE</a> <?php #Bodi pozoren na class current, ta naj se med navigacijo postavlja na pravi oddelek! ?>
            <a href="/Symfony/web/app.php/kolumne">KOLUMNE</a>
            <a href="/Symfony/web/app.php/vodici">VODIČI</a>
            <a href="/Symfony/web/app.php/forum">FORUM</a>
            <a href="/Symfony/web/app.php/projekti">PROJEKTI</a>
            <a href="/Symfony/web/app.php/dogodki">EVENTI</a>
            <a href="/Symfony/web/app.php/borza-dela">BORZA DELA</a>
            <a href="#">@ADMIN</a>
        </nav>
        
        <form>
        <input tabindex="2" type="button" id="searchSubmit" class="button" value="ISKANJE"/>
        <input tabindex="1" type="text" id="searchText" class="search-field"/>
        </form>
    </div>
</header>

{% block body %}{% endblock %}

</div>
<footer>
    <div class="w1100">
        <div class="spoznorji">
            <h2>SPONZORJI:</h2>
        </div>

        &copy; 2012 Jezni Razvijalci | <a href="#">@webmaster</a> | <a href="#">Pravni pouk</a> | <a href="#">RSS Novice</a>
        <nav>
            <a href="/Symfony/web/app.php">NOVICE</a>
            <a href="/Symfony/web/app.php/kolumne">KOLUMNE</a>
            <a href="/Symfony/web/app.php/vodici">VODIČI</a>
            <a href="/Symfony/web/app.php/forum">FORUM</a>
            <a href="/Symfony/web/app.php/projekti">PROJEKTI</a>
            <a href="/Symfony/web/app.php/dogodki">EVENTI</a>
            <a href="/Symfony/web/app.php/borza-dela">BORZA DELA</a>
            <a href="/Symfony/web/app.php/irc">IRC KANAL</a>
            <a href="#">@ADMIN</a>
        </nav>
    </div>
</footer>

<script type="text/javascript" src="{{ asset('js/libs/jquery-1.71.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/plugins.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/script.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/prettify.js') }}"></script>

{% block javascripts %}{% endblock %}
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-29313929-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>